<%= form_for @image, :html => { :multipart => true }, remote: true do |f| %>
  <div class="modal-body">
    <div id="messages">
      <%= render :partial => "messages" %>
    </div>
    <%= f.label :title, "Title:" %>

    <%= f.text_field :title, :class=>"image-input"%>
    <%= f.label :source, "Video Upload:" %>
    <%= f.file_field :source, :title => "Select a File" %>
    <br>
    <br>
    <div id="tag-area">
      <input type="text" placeholder="Tags" class="tag-input image-input">
      <div id="tags">Tags: 
      </div>
    </div>
    <br>
    <%= f.submit :class=>"primary btn" %>
  </div>
<% end %>