<div class="row-fluid">
  <div class="span9 left-panel">
    <div class="content-area">
      <div class="image-title"><h2><%= @image.title %></h2> </div>

      <div class="image-display">
        <%= image_tag @image.anim_gif.url %>
      </div>
    </div>

    <div class="vote-display">
      <%= render :partial => "vote" %>
    </div>

    <%= render :partial => "tags" %>

    <div id="comment-area">
      <%= render :partial => "comments/new_form" %>
    </div>


    <div id="comment-area2">
      <%= render :partial => "comments/index" %>
    </div>
  </div>
  <% unless @related_images_by_tag.empty? %>
    <div class="span2 right-panel">
      <h4>Related Images:</h4>
      <div>
        <% @related_images_by_tag.each do |image| %>
          <div class="image grey-border">
            <%= link_to image_tag(image.preview.url, :size => "81x81"), image_url(image) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="span2 right-panel info-panel">
    <%= render :partial => "info" %>
  </div>

</div>


<% unless user_signed_in? %>
  <script>
    $(function(){
      $("#comment-area").hide();
      $(".vote-display").hide();
    })
  </script>
<% end %>


