<!DOCTYPE html>
<html>
<head>
  <title>VideoPreviewer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar" id="top_navbar">
    <%= render :partial => "application_wide/navbar" %>
  </div>



  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
